<!-- <div class="p-2 g-col-6  mx-auto p-2 shadow p-3 mb-5 bg-body-tertiary rounded border border-success p-2 mb-2">

    <div class="text-primary-emphasis"> 
        {{book['Title']}} 
    </div>

    <div class="opacity-75 text-secondary">
        <b>By:</b>  {{book['Author']}}
    </div>

 </div> -->
 <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title blockquote " style="margin-bottom: 0px;">
            {{book['Title']}}
          </h5>
          <div class="card-text opacity-75 text-secondary" style="margin-bottom: 10px;">
            <b>~</b> {{book['Author']}}
        </div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>